html{
    font-family: 'Helvetica Neue', sans-serif;
    width: 100%;
}

#dvLoading
	{
	   background:#000 url(images/loader.gif) no-repeat center center;
	   height: 100%;
	   width: 100%;
	   position: fixed;
	   z-index: 1000;
	}

	
.nav{
    width: 100%;
    height: 200px;
    background-color: #cf2424;
    z-index: 25;
    position: fixed;
    border-bottom: 1px solid #b62929;
    top: 0;
}

.nav img{
    height: 130px;
    width: auto;
    float: left;
    margin-left: 50px;
    margin-top: 35px;
}

.navn{
    text-decoration: none;
    float: left;
    display: block;
    padding-top: 60px;
    margin-left: 120px;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    
}

.app{
    display: none;
    
}

#first{
    display: none;
}


#second{
    width: 100%;
    height: 450px;
    background-color: white;
}

#sitat p{
    font-size: 25px;
    font-weight: 200;
    /*text-align: center;*/
    color: black;
    float: left;
}

#second h4{
    float: right;
    font-size: 16px;
    font-weight: 300;
    margin-top: 200px;
    margin-right: 25px;
}

#third{
    width: 100%;
    height: 800px;
    background-color: #ffc857;
}

#third img{
    width: 400px;
    height: auto;
    margin-top: 20px;
    float: right;
}

#text{
    float: left;
    margin-top: 60px;
    margin-left: 20px;
}

#third h1{
    font-size: 45px;
    font-weight: 300;
}

#third p{
    font-size: 25px;
    font-weight: 200;
    margin-left: 5px;

}

#fifth{
    width: 100%;
    height: 950px;
    background-color: #eafdf8;
}

#statsios{
    width: 100px;
    height: auto;
    padding-top: 100px;
    float: right;
    margin-right: 100px;
    padding-bottom: 30px;
}

#statsios h3{
    font-size: 23px;
    font-weight: 100;
    padding-top: 10px;
}

#statsios h2{
    font-size: 40px;
    font-weight: 300;
    margin-top: -10px;
}

#statsios p{
    font-size: 24px;
    font-weight: 200;
}

#statsmac{
    float: left;
    padding-top: 600px;
    margin-left: -400px;
    width: 100px;
}

#chart{
    font-size: 60px;
    float: left;
    margin-top: 100px;
}

#statsmac h2{
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    width: 200px;
    margin-top: 100px;
    margin-left: 100px;
}


#iosStat{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 15px;
}


#macStat{
    height: 100px;
    width: auto;
    float: right;
    margin-right: -20px;
    margin-top: -140px;
}

#sixth{
    height: 600px;
    width: 100%;
    background-color: #d0e3cc;
}

#iosNF{
    height: 600px;
    width: auto;
    margin-top: -70px;
    
}

#information{
    width: 500px;
    float: right;
}

#pun{
    float: right;
    margin-top: 26px;
    width: 400px;
}

#pun h2{
    font-size: 28px;
    font-weight: 400;
    margin-top: 71px;
}
#sign {
    font-size: 60px;
    float: left;
    width: 100px;
    padding-top: 40px;
}

#inbox, #map, #slider{
    margin-top: 40px;
}

#androidApp{
    height: 100px;
    width: auto;

    float: right;
    margin-left: 10px; 
    
}

#seventh{
    height: 500px;
    width: 100%;
    background-color: #cf2424;
}

#free{
    width: 63%;
    height: 500px;
    float: left;
    border-right: 1px solid white;
    padding: none;
}

#free h2{
    padding-top: 130px;
    font-size: 25px;
    font-weight: 100;
    color: white;
    margin-left: 150px;
}

#free h1{
    font-size: 40px;
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
    margin-left: 150px;
}

#free a {
    padding: 7px 12px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 20px;
    margin-left: 150px;
}


#eighth{
    display: none;
}

