html{
    font-family: 'Helvetica Neue', sans-serif;
    width: 100%;
}

#dvLoading
	{
	   background:#000 url(images/loader.gif) no-repeat center center;
	   height: 100%;
	   width: 100%;
	   position: fixed;
	   z-index: 1000;
	}
	
.nav{
    width: 100%;
    height: 5em;
    background-color: #cf2424;
    z-index: 25;
    position: fixed;
    border-bottom: 1px solid #b62929;
    top: 0;
}

.nav img{
    height: 50px;
    width: auto;
    float: left;
    margin-left: 100px;
    margin-top: 17px;
}

.navn{
    text-decoration: none;
    float: left;
    display: block;
    padding: 26px;
    margin-left: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    
}

.app{
    text-decoration: none;
    display: block;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    
}

#topApp{
    float: right;
    font-weight: 400;
    font-size: 18px;
    margin-top: 31px;
    margin-right: 3em;
}

.app:hover {
    color: lightgrey;
}

#first {
    width: 100%;
    height: 584px;
    background-image: url("../img/footballteam.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  
}


#info{
    width: 600px;
    /*
    float: left;
    */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#first h1{
    width: 600px;
    font-size: 35px;
    /*
    color: black;
    */
    color: white;
    z-index: 11;
    position: absolute;
    margin-top: 250px;
    font-weight: 400;

}

#first h2{
    width: 600px;
    font-size: 28px;
    /*
    color: black;
    */
    color: white;
    z-index: 11;
    position: absolute;
    margin-top: 295px;
    font-weight: 300;
    
}

#contact{
    z-index: 11;
    position: absolute;
    margin-left: 170px;
    margin-top: 360px;
    height: 50px;
    width: 240px;
    background-color: transparent;
    display: block;
    cursor: pointer;
}

#contactText{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    border: 2px solid white;
    padding: 7px 10px;
    border-radius: 1px;
   
    
}

#contactText:hover{
    color: lightgrey;
    border: 2px solid lightgrey;
}

#first img{
    height: 500px;
    width: auto;
    float: right;
    margin-right: 10px;
    margin-top: -350px;
}

#second{
    width: 100%;
    height: 280px;
    background-color: white;
}


#sitat{
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    margin-top: 40px;
    font-weight: 300;
}
#sitat p{
    font-size: 35px;
    font-weight: 200;
    text-align: center;
}


#second h4{
    float: right;
    font-size: 16px;
    font-weight: 300;
    margin-top: 250px;
    margin-right: 25px;
}

.content{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    
}

#third{
    width: 100%;
    height: 600px;
    background-color: #ffc857;
}

@media only screen and (max-device-width: 1000px){
    #third img{
        margin-right: -200px;
    }
}

#third img{
    width: 550px;
    height: auto;
    margin-right: -150px;
    margin-top: 20px;
    float: right;
}

#text{
    float: left;
    height: 400px;
    width: 200px;
    margin-top: 120px;
    margin-left: 160px;
}

#third h1{
    width: 400px;
    font-size: 45px;
    font-weight: 300;
}

#third p{
    width: 350px;
    font-size: 25px;
    font-weight: 200;
    margin-left: 5px;

}

#fourth{
    width: 100%;
    height: 500px;
    background-color: #3f88c5;
}

#fourth iframe{
    float: right;
    height: 500px;
    width: 888px;
    top: 0;
    right: 0;
}

#fifth{
    width: 100%;
    height: 950px;
    background-color: #eafdf8;
}

#statsios{
    width: 400px;
    height: 300px;
    padding-top: 100px;
    float: right;
    margin-right: 100px;
    padding-bottom: 30px;
}

#statsios h3{
    font-size: 23px;
    font-weight: 100;
    padding-top: 10px;
}

#statsios h2{
    font-size: 40px;
    font-weight: 300;
    margin-top: -10px;
}

#statsios p{
    font-size: 24px;
    font-weight: 200;
}

#statsmac{
    float: left;
    padding-top: 600px;
    margin-left: -400px;
    width: 300px;
}

#chart{
    font-size: 60px;
    float: left;
    margin-top: 100px;
}

#statsmac h2{
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    width: 200px;
    margin-top: 100px;
    margin-left: 100px;
}


#iosStat{
    height: 550px;
    width: auto;
    float: left;
    margin-top: 15px;
}


#macStat{
    height: 600px;
    width: auto;
    float: right;
    margin-right: -20px;
    margin-top: -140px;
}

#sixth{
    height: 600px;
    width: 100%;
    background-color: #d0e3cc;
}

#iosNF{
    height: 600px;
    width: auto;
    margin-top: -70px;
    
}

#information{
    width: 500px;
    float: right;
}

#pun{
    float: right;
    margin-top: 26px;
    width: 400px;
}

#pun h2{
    font-size: 28px;
    font-weight: 400;
    margin-top: 71px;
}
#sign {
    font-size: 60px;
    float: left;
    width: 100px;
    padding-top: 40px;
}

#inbox, #map, #slider{
    margin-top: 40px;
}

#androidApp{
    height: 100px;
    width: auto;

    float: right;
    margin-left: 10px; 
    
}

#seventh{
    height: 500px;
    width: 100%;
    background-color: #cf2424;
}

#free{
    width: 63%;
    height: 500px;
    float: left;
    border-right: 1px solid white;
    padding: none;
}

#free h2{
    padding-top: 130px;
    font-size: 25px;
    font-weight: 100;
    color: white;
    margin-left: 150px;
}

#free h1{
    font-size: 40px;
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
    margin-left: 150px;
}

#free a {
    padding: 7px 12px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 20px;
    margin-left: 150px;
}

#pricing{
    height: 500px;
    width: calc(37% - 1px);
    float: right;
    background-color: #3f88c5;
    padding: none;
}

#eighth{
    padding-top: 50px;
    width: 100%;
    height: 910px;
    background-color: white;
}

#topFoot{
    height: 180px;
    border-bottom: 1px solid black;
}

#topFoot img{
    height: 110px;
    width: auto;
    margin-top: 20px;
    margin-left: 60px;
}

#btmApp{
    font-size: 23px;
    font-weight: 300;
    width: 110px;
    padding: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -85px;
    color: black;
    border: 2px solid black;
}

#btmApp:hover{
    color: grey;
    border: 2px solid grey;
}

#globe{
    float: right;
    font-size: 30px;
    margin-right: 230px;
    margin-top: -40px;
}

#changeLanguage{
    float: right;
    margin-top: -49px;
    width: 210px;
    height: 45px;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    position: relative;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
}
select {
  color: #000;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #000;
}
.no-textshadow select {
  color: #000;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

#triangle{
    font-size: 20px;
    position: relative;
    float: right;
    margin-right: 20px;
    margin-top: -38px;
    z-index: 0;
}
#changeLanguage:focus{
    outline:0;
    border:none;
    box-shadow:none;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
select::-ms-expand { /* for IE 11 */
    display: none;
}

#contactInf{
    height: 640px;
    border-bottom: 1px solid black;
}

#mail{
    margin-top: 20px;
    width: 380px;
    height: 45px;
}

#mailIcon{
    font-size: 40px;
}

#mail p {
    font-size: 20px;
    font-weight: 200;
    margin-right: 40px;
    text-transform: uppercase;
    float: right;
    margin-top: 10px;
}


#facebook{
    float: right;
    margin-top: -55px;
    margin-right: 60px;
    font-size: 45px;
    text-decoration: none;
    color: black;
}

#youtube{
    float: right;
    margin-top: -55px;
    font-size: 45px;
    text-decoration: none;
    color: black;
    margin-right: 130px;
}

#registerTeam{
    width: 300px;
    float: left;
    margin-left: 90px;
    margin-top: 30px;
}

#registerTeam h3{
    font-size: 20px;
    font-weight: 400;
}

#fakturering{
    float: right;
    margin-right: 350px;
    width: 200px;
    margin-top: 30px;
}

#globe2{
    float: left;
    font-size: 30px;
    margin-right: 230px;
    margin-top: -5px;
}

#list-teams{
    width: 210px;
    height: 45px;
    position: absolute;
    margin-left: -190px;
    margin-top: -12px;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid black;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
}

#triangle2{
    font-size: 20px;
    position: relative;
    float: right;
    margin-right: 20px;
    z-index: 0;
}
#list-teams:focus{
    outline:0;
    border:none;
    box-shadow:none;
}


 #registerTeam input[type="text"],#registerTeam input[type="password"], #registerTeam input[type="mail"]{
    height: 43px;
    width: 180px;
    font-size: 16px;
    background-color: #fff;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 4px;
}

 #fakturering input[type="text"],#fakturering input[type="password"], #fakturering input[type="mail"]{
    height: 43px;
    width: 180px;
    font-size: 16px;
    background-color: #fff;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 4px;
}

#fakturering h3{
    font-size: 22px;
    font-weight: 400;
}

#btmInv{
    width: 1100px;
    padding-top: 400px;
}

#product{
    width: 1100px;
    height: 40px;
}

#product h3{
    font-size: 21px;
    font-weight: 400;
}

#product h4{
    float: left;
    margin-left: 600px;
    margin-top: -47px;
    font-size: 22px;
    font-weight: 300;
}

#line{
    width: 50px;
    float: left;
    margin-left: 500px;
    margin-top: -34px;
    border-bottom: 1px solid grey;
}

#node-id{
    float: right;
}

#node-id h6{
    font-size: 19px;
    font-weight: 300;
    margin-right: 210px;
    margin-top: -45px;
    color: grey;
}

#node-id h5{
    font-size: 19px;
    font-weight: 300;
    color: grey;
    float: right;
    margin-top: -69px;
    margin-right: 97px;
}

#terms{
    float: left;
    margin-left: -655px;
    margin-top: 91px;
}

#termh{
    float: left;
    margin-left: 40px;
    margin-top: 80px;
    font-size: 16px;
    font-weight: 400;
}

#termHref{
    font-size: 16px;
    font-weight: 400;
    margin-top: 80px;
    margin-left: 4px;
    float: left;
}

#product p{
    float: left;
    margin-left: 500px;
    margin-top: -45px;
    font-size: 18px;
    font-weight: 300;
    color: grey;
}

#register button{
    float: right;
    margin-top: 60px;
    margin-right: -327px;
    font-size: 18px;
    font-weight: 400;
    height: 45px;
    width: 100px;
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

#register button:hover{
    color: grey;
    border: 1px solid grey;
}

#register p{
    font-size: 18px;
    font-weight: 300;
    color: grey;
    float: left;
    width: 550px;
}
#apple{
    height: 61px;
    width: auto;
    float: left;
    margin-top: -95px;
    margin-right: 600px;
}

#android{
    height: 90px;
    width: auto;
    float: left;
    margin-top: -110px;
    margin-right: 300px;
}


#btmFoot p{
    margin-top: 170px;
}

#btmFoot a{
    float: right;
    text-decoration: none;
    color: black;
    margin-top: -32px;
}

#btmFoot a:hover{
    color: grey;
}



