html{
    background-color: #cf2424;
    font-family: 'Arimo', sans-serif;


}
.nav{
    width: 100%;
    height: 5em;
    background-color: #cf2424;
    z-index: 10;
    position: fixed;
    border-bottom: 1px solid #b62929;
    top: 0;
}

.nav img{
    height: 50px;
    width: auto;
    float: left;
    margin-left: 100px;
    margin-top: 17px;
}

.navn{
    text-decoration: none;
    float: left;
    display: block;
    padding: 28px;
    margin-left: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 1px;
    
}

.app{
    text-decoration: none;
    float: right;
    display: block;
    margin-top: 1.7em;
    margin-right: 3em;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    
}

.app:hover {
    color: lightgrey;
}

.first {
    width: 100%;
    height: 584px;

}

.first h3{
    color: white;
    float: right;
    margin-top: 100px;
}

.first img{
    height: auto;
    width: 100%;
    position: relative;
    z-index: 0;
}

#box{
    height: 70px;
    width: 500px;
    position: absolute;
    z-index: 2;
    margin-left: 200px;
    margin-top: -420px;
    }
    
#box h1{
    font-size: 35px;
    color: white;
}

.second{
    width: 100%;
    height: 320px;
    background-color: white;
}


#sitat{
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    margin-top: 55px;
}
#sitat p{
    font-size: 35px;
    text-align: center;
}


.second h4{
    float: right;
    font-size: 16px;
    font-weight: 500;
    margin-top: 285px;
    margin-right: 25px;
}

.content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    
}

.third{
    width: 100%;
    height: 35em;
    background-color: #ffc857;
}

.third img{
    height: 450px;
    width: auto;
    margin-top: 55px;
    margin-left: 90px;
}

.third p{
    width: 20em;
    float: right;
    font-size: 23px;
    margin-top: 8em;
}

.fourth{
    width: 100%;
    height: 35em;
    background-color: #e9724c;
}
.fourth img{
    height: 450px;
    width: auto;
    margin-top: 55px;
    margin-left: 90px;
}

.fourth p{
    width: 20em;
    float: right;
    font-size: 23px;
    margin-top: 8em;
}

.fifth{
    width: 100%;
    height: 35em;
    background-color: #481d24;
}

.sixth{
    width: 100%;
    height: 35em;
    background-color: #255f85;
}
